@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@400;500;600;700;800;900&display=swap');

/* globals */
$primaryColor: rgb(91, 80, 162);
$altenativePrimaryColor: rgb(59, 135, 199);
$primaryFont: 'Pathway Extreme', sans-serif;
$backgroundColor: #f8f8f8;


* {
  font-family: $primaryFont;
}

body {
  background-color: $backgroundColor;
}


.tooltip {
  position: relative;
  z-index: 1;
  display: inline-block;
}


.holder{
  display: flex;
  min-height: 100vh;
  align-items: center;
}
/* Nav */


.nav-link {
  font-size: 13px;
  color: #000;
  margin-left: 10px;
  font-weight: 600;
  margin-right: 10px;
  padding: 0;
  text-transform: uppercase;
}

.nav-link:hover {
  color: $primaryColor;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  border-bottom: 2px solid $primaryColor;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  padding-right: 0;
  padding-left: 0;

}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar {
  padding: 0 !important;
}

.navbar-toggler-icon {
  border: none;

}

.navbar-toggler>.close {
  display: inline;
}

.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url('./images/close-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

/* button */
.btn-primary {
  background-color: $primaryColor;
  padding: 4px 30px;
  border-radius:5px;
  font-size: 13px;
  border: none;
}

.btn-primary:hover {
  background-color: white;
  padding: 5px 30px;
  border-radius: 50px;
  font-weight: 600;
  color: $primaryColor;
  border: 2px solid $primaryColor;
}

.btn-secondary {
  padding: 2px 20px;
  border-radius: 10px;
  font-weight: 600;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  font-size: 12px;
  background-color: $backgroundColor;
}


/*about page */
.profile-image {
  border-radius: 100%;
  padding: 100px;
}

.profile-title {
  font-weight: 600;
  font-size: 14px;
}

.profile-body {
  margin-top: -100px;
}

.profile-name,
.contact-heading {
  font-weight: 800;
  font-size: 1.0rem;
}

.profile-sub{
  font-size: 0.7rem;
  font-weight: 700;
}

.profile-card {
  border: none;
  box-shadow: 0 0 2px #dbd7d7;
  background-color: transparent;
}

.content-card {
  border: none;
  box-shadow: 0 0 5px #dbd7d7;
  background-color: $backgroundColor;
}

.pages {
  max-height: 64vh;
  overflow-y: auto;
}


.about-title{
  font-size: 30px;
}


.about-title-note {
  color: $primaryColor;
  font-size: 30px;
}

.about-message {
  font-size: 13px;

  .btn-secondary {
    padding: 1px 5px;
    border-radius: 3px;
    font-weight: 600;
    color: $primaryColor;
    border: none;
    font-size: 13px;
    background-color: $backgroundColor;
    
  }
}

.portfolio-title {
  font-weight: 600;
}


.project-card {
  border: none;
  box-shadow: 0 0 2px #dbd7d7;
  border-radius: 10px;
  background-color: white;
}

.project-card {
  .card-header {
    background-color: white;
    border-bottom: none;
    box-shadow: 0 0 2px #dbd7d7;
    border-radius: 10px 10px 0 0;
    font-size: 15px;
    font-weight: 700;
  }

  .card-footer {
    border-bottom: none;
    box-shadow: 0 0 2px #dbd7d7;
    border-radius: 0 0 10px 10px;
    background-color: white;

    .btn-secondary {
      color: #17141f;
      background-color: white;
      border-color: #adb5bd;
      padding: 0 10px;
      font-size: 10px;
    }
  }
}



.project-description {
  background-color: $backgroundColor;
  color: #000 !important;
  font-size: 13px;
 
}

.form-control {
  border: none;
  box-shadow: 0 0 5px rgb(211, 211, 214);
  font-size: 14px;
}

.form-control:focus {
  box-shadow: 0 0 5px rgb(91, 80, 162);
}

.contact-card {
  box-shadow: 0 0 5px #dbd7d7;
  background-color: #fff;
  border-radius: 10px
}


.tooltip {
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}


.tooltip>.tooltip-inner {
  font-weight: 700;
  border-radius: 5px;

}

.loader {
  z-index: 1;
  position: absolute;
  margin-left: 22%;
  margin-top: 30vh;
  padding: 0;
  width: 70px;
  height: 30px;

  text-align: center;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: $backgroundColor;
  transition: all .3s;
  cursor: pointer;
}

.loader:hover {
  filter: contrast(1.1);
}

.loader:active {
  filter: contrast(0.9);
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 3px solid $primaryColor;
  transition: all .3s;
  animation: clippath 3s infinite linear;
  border-radius: 15px;
}

.loader::after {
  animation: clippath 0.5s infinite -1.5s linear;
}


@keyframes clippath {

  0%,
  100% {
    clip-path: inset(0 0 60% 0);
  }

  25% {
    clip-path: inset(0 60% 0 0);
  }

  50% {
    clip-path: inset(60% 0 0 0);
  }

  75% {
    clip-path: inset(0 0 0 60%);
  }
}

.loader-container {
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
}

@media only screen and (max-width: 767px) {
  #navbarSupportedContent {
    width: 100vw;
    height: 100vh;
    background-color: $backgroundColor;
    opacity: 0.9;
    padding-top: 15vh;
  }

  .nav-link {
    padding: 10px 0;
    font-size: 13px;
    padding-top: 20px;

  }

  .nav-socials {
    padding-top: 10px;
  }


  .navbar-nav .nav-link.active,
  .navbar-nav .show>.nav-link {
    border: none;
    color: $primaryColor;
    font-weight: 800;


  }

  .navholder {
    padding-top: 10px;
    background-color: $backgroundColor;
    opacity: 0.9;
  }

  .loader {
    margin-left: 38%;
    margin-top: 40vh;
  }

  .about-title {
    font-size: 30px;
  }

  .about-title-note {
    color: $primaryColor;
    font-size: 30px;
  }

  .about-message {
    font-size: 13px;

  }

  .pages {
    max-height: auto;
    overflow: visible;
  }

  .profile-image {
    padding: 20px;
  }


  .profile-body {
    margin-top: -20px;
  }

  .content-card {
    border: none;
    background-color: $backgroundColor;
    box-shadow: none;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .pages {
    min-height: 60vh;
    max-height: none;
  }
}


.footer {
  font-size: 10px;
  font-weight: 500;
  font-style: italic;
}

.contact-means{
  font-size: 12px;
}