@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@400;500;600;700;800;900&display=swap');

/* globals */
$primaryColor: rgb(91, 80, 162);
$altenativePrimaryColor: rgb(59, 135, 199);
$primaryFont: 'Pathway Extreme', sans-serif;
$backgroundColor: #f8f8f8;

* {
  font-family: $primaryFont;
}

body{
  background-color: $backgroundColor;
}


.tooltip{
  position: relative;
  z-index: 1;
  display: inline-block;  
}
/* Nav */


.nav-link {
  font-size: 15px;
  color: #000;
  margin-left: 10px;
  font-weight: 600;
  margin-right: 10px;
  padding: 0;
  text-transform: uppercase;
}

.nav-link:hover {
  color: $primaryColor;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  border-bottom: 2px solid $primaryColor;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  padding-right: 0;
  padding-left: 0;

}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar {
  padding: 0 !important;
}

.navbar-toggler-icon {
  border: none;

}

.navbar-toggler>.close {
  display: inline;
}

.navbar-toggler.collapsed>.close,
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url('./images/close-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

/* button */
.btn-primary {
  background-color: $primaryColor;
  padding: 2px 30px;
  border-radius: 50px;
  font-size: 15px;
  border: none;
}

.btn-primary:hover {
  background-color: white;
  padding: 5px 30px;
  border-radius: 50px;
  font-weight: 600;
  color: $primaryColor;
  border: 2px solid $primaryColor;
}

.btn-secondary {
  padding: 2px 20px;
  border-radius: 10px;
  font-weight: 600;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  font-size: 12px;
  background-color: #f8f8f8;
}


/*about page */
.profile-image {
  border-radius: 100%;
  padding: 100px;
}

.profile-title{
  font-weight: 600;
}

.profile-body {
  margin-top: -100px;
}

.profile-name {
  font-weight: 800;
  font-size: 1.5rem;
}

.profile-card{
  border: none;
  box-shadow: 0 0 2px #dbd7d7;
  background-color: transparent;
}

.content-card{
  border: none;
  box-shadow: 0 0 5px #dbd7d7;
  background-color: #f8f8f8;
}

.pages{
  max-height: 64vh;
  overflow-y: scroll;
}

.about-title{
  font-size: 50px;
}

.about-title-note{
  color: $primaryColor;
}

.about-message{
  font-size: 16px;
}

.portfolio-title{
  font-weight: 600;
}


.project-card{
  border: none;
  box-shadow: 0 0 2px #dbd7d7;
  border-radius: 10px;
}

.project-card{
  .card-header{
    background-color: #f8f8f8;
    border-bottom: none;
    box-shadow: 0 0 2px #dbd7d7;
    border-radius: 10px 10px 0 0;
    font-size: 23px;
    font-weight: 600;
  }
  .card-footer{
    border-bottom: none;
    box-shadow: 0 0 2px #dbd7d7;
    border-radius: 0 0 10px 10px;
    .btn-secondary{
      color: #17141f;
      background-color: #ededed;
      border-color: #adb5bd;
      padding: 0 10px;
    }
  }
}

.project-description{
  background-color: #f8f8f8;
    color: #000 !important;
    font-size: 15px;
    text-align: justify;
}

  